<div id="products">
  <div class="header">
    <h1>I USE THIS.</h1>
    <h2>What I use to get stuff done.</h2>
  </div>
  <div class="composer">
  <form class="form-inline">
    <label>For</label>
    <input type="text" placeholder="pens" id="product-for" class="product-input">
    <label>use</label>
    <input type="text" placeholder="bics" id="product-title" class="product-input">
    <label>from</label>
    <input type="text" placeholder="http://link.to" id="product-link" class="product-input">
    <button id="save-button" type="submit" class='btn'>Save</button>
  </form>
  </div>
  <ul id="products-list" class="unstyled">
  </ul>
</div>

<script type="text/template" id="products-list">
  <div class="header">
    <h1>I USE THIS.</h1>
    <h2>What I use to get stuff done.</h2>
  </div>
  <div class="composer">
  <form class="form-inline">
    <label>For</label>
    <input type="text" placeholder="pens" id="product-for" class="product-input">
    <label>use</label>
    <input type="text" placeholder="bics" id="product-title" class="product-input">
    <label>from</label>
    <input type="text" placeholder="http://link.to" id="product-link" class="product-input">
    <button id="save-button" type="submit" class='btn'>Save</button>
  </form>
  </div>
  <ul id="products-list" class="unstyled">
  </ul>
</script>

<script type="text/template" id="product-template">
  For <%= use %> use
  <% if ( link.trim() != "" ) { %>
    <a href="<%= link %>"><%= title %></a>
  <% } else { %>
    <%= title %>
  <% } %>
  <a href="#" class="delete-product"><i class="icon-remove"></i></a>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>


<style type="text/css">
  @import url("//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css");
/* line 13, app.sass */
body {
  background-color: #404040;
}

/* line 16, app.sass */
ul {
  list-style: none;
}

/* line 19, app.sass */
h1 {
  font-size: 32px;
  line-height: 32px;
  margin: 0;
}

/* line 24, app.sass */
h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}

/* line 36, app.sass */
h1, h2 {
  text-shadow: 1px 1px 10px black;
}

/* line 39, app.sass */
a, a:hover, a:active, a:visited {
  color: #04bf9d;
}

/* line 42, app.sass */
.header {
  background-color: #04bf9d;
  padding: 1em;
  color: white;
}

/* line 47, app.sass */
#products {
  margin: 0 auto;
  margin-top: 3em;
  width: 600px;
  background-color: white;
  border: 3px solid #04bf9d;
  -webkit-box-shadow: 3px 6px 20px 1px black;
  -moz-box-shadow: 3px 6px 20px 1px black;
  box-shadow: 3px 6px 20px 1px black;
}
/* line 54, app.sass */
#products .composer {
  padding: 0 1em;
}
/* line 56, app.sass */
#products .composer {
  padding-top: 1em;
  font-size: 16px;
}
/* line 59, app.sass */
#products ul {
  margin: 1em;
}
/* line 61, app.sass */
#products ul li {
  font-size: 18px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}
/* line 66, app.sass */
#products ul li:first-child {
  padding-top: 0.5em;
}
/* line 68, app.sass */
#products ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

@media (min-width: 1200px) {
  /* line 73, app.sass */
  #products {
    width: 600px;
  }
}
@media (min-width: 976px) and (max-width: 1199px) {
  /* line 77, app.sass */
  #products {
    width: 600px;
  }
}
@media (min-width: 768px) and (max-width: 975px) {
  /* line 81, app.sass */
  #products {
    width: 600px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 85, app.sass */
  #products {
    width: 400px;
  }
}
@media (max-width: 479px) {
  /* line 89, app.sass */
  #products {
    width: 260px;
  }
}
/* line 92, app.sass */
.delete-product {
  float: right;
}

/* line 95, app.sass */
input {
  width: 120px;
}

/* line 99, app.sass */
.viewer-notowner .composer, .viewer-notowner .delete-product {
  display: none;
}

</style>

<script type="text/javascript">
  // Generated by CoffeeScript 1.6.3
(function() {
  var ENTER_KEY, Product, ProductView, Products, ProductsCollection, ProductsView, logDebug;

  logDebug = false;

  ENTER_KEY = 13;

  Product = Backbone.Model.extend({
    defaults: {
      use: '',
      title: '',
      link: ''
    }
  });

  ProductsCollection = Backbone.Collection.extend({
    model: Product,
    url: '/data/products'
  });

  Products = new ProductsCollection([]);

  Products.fetch();

  ProductView = Backbone.View.extend({
    tagName: 'li',
    template: _.template($('#product-template').html()),
    events: {
      'click .delete-product': 'deleteProduct'
    },
    render: function() {
      this.$el.html(this.template(this.model.toJSON()));
      return this;
    },
    initialize: function() {
      return this.listenTo(this.model, 'change', this.render);
    },
    deleteProduct: function() {
      if (logDebug) {
        console.log("delete product");
      }
      return this.model.destroy();
    }
  });

  ProductsView = Backbone.View.extend({
    el: '#products',
    template: _.template($('#products-list').html()),
    events: {
      'keypress .product-input': 'addOnEnter',
      'click #save-button': 'createFromForm'
    },
    render: function() {
      if (logDebug) {
        console.log("lists view render", this.$el);
      }
      this.productFor = $('#product-for');
      this.productTitle = $('#product-title');
      this.productLink = $('#product-link');
      this.productFor.focus();
      return this;
    },
    initialize: function() {
      if (logDebug) {
        console.log("lists view initialize");
      }
      this.listenTo(Products, 'reset', this.addAll);
      this.listenTo(Products, 'add', this.redo);
      this.listenTo(Products, 'remove', this.redo);
      this.listenTo(Products, 'create', this.redo);
      return this.redo();
    },
    redo: function() {
      this.render();
      return this.addAll();
    },
    addOne: function(product) {
      var view;
      if (logDebug) {
        console.log("product view add one", product);
      }
      view = new ProductView({
        model: product
      });
      return $('#products-list').append(view.render().el);
    },
    addAll: function() {
      if (logDebug) {
        console.log("list view add all", Products.length);
      }
      $('#products-list').html('');
      return Products.each(this.addOne, this);
    },
    emptyForm: function() {
      this.productFor.val("");
      this.productTitle.val("");
      return this.productLink.val("");
    },
    createFromForm: function() {
      var data, titleVal, useVal;
      useVal = this.productFor.val().trim();
      titleVal = this.productTitle.val().trim();
      if (!(useVal && titleVal)) {
        console.log("two vals");
        false;
        return;
      }
      data = {
        use: useVal,
        title: titleVal,
        link: this.productLink.val().trim()
      };
      Products.create(data);
      this.emptyForm();
      return false;
    },
    addOnEnter: function(e) {
      if (logDebug) {
        console.log("add on enter");
      }
      if (e.which !== ENTER_KEY) {
        return;
      }
      this.createFromForm();
      return false;
    }
  });

  new ProductsView();

  $("title").text("Products");

}).call(this);

</script>