
<div class="container">
  <div id="profile">
  </div>

  <div id="main-page">
  </div>
</div>

<script type="text/template" id="profile-template">
<h1 id="githubname">
  <a href="https://github.com/<%= login %>">
    <span>&lt;</span><%= name %><span>&gt;</span>
  </a>
</h1>

<ul id="links" class="unstyled clearfix">
  <li>
    <a target="_top" href="https://github.com/<%= login %>">
      <%= followers %><br>
      <span>Followers</span>
    </a>
  </li>
  <li>
    <a target="_top" href="https://github.com/<%= login %>">
      <%= following %><br>
      <span>Following</span>
    </a>
  </li>
  <li>
    <a target="_top" href="https://gist.github.com/<%= login %>">
      <%= public_gists %><br>
      <span>Gists</span>
    </a>
  </li>
  <li>
    <a target="_top" href="https://github.com/<%= login %>?tab=repositories">
      <%= public_repos %><br>
      <span>Repos</span>
    </a>
  </li>
</ul>
</script>

<script type="text/template" id="main-template">
<div class="github-list">
  <h2>
    <a href="#gists">Gists</a>
  </h2>
  <p class="lead">
    My public gists on Github. Code snippits I use and reuse in multiple places.
  </p>

  <h2>
    <a href="#stars">Stars</a>
  </h2>
  <p class="lead">
    Repositories I have found interesting.
  </p>
</div>
</script>

<script type="text/template" id="gists-template">
<div class="gists">
  <h2>Gists</h2>

  <p class="lead">
    My public gists on Github. Code snippits I use and reuse in multiple places.
  </p>

  <% _.each(gists, function(gist) { %>
    <div class='gist'>
      <div>
        <h3>
          <a href="<%= gist.html_url  %>">
            <%= gist.description %>
          </a>
        </h3>
      </div>
    </div>
  <% }); %>
</div>
</script>

<script type="text/template" id="stars-template">
<div class="stars">
  <h2>Stared Repositories</h2>

  <p class="lead">
    Repositories I have found interesting.
  </p>

  <% _.each(stars, function(star) { %>
    <div class="star">
      <h3>
        <a href="<%= star.html_url %>"><%= star.name %></a>
        <small><%= star.full_name %></small>
      </h3>
      <p class="description">
        <%= star.description %>
      </p>
      <p>
        <strong>Language:</strong> <%= star.language %><br>
        <strong>Watchers:</strong> <%= star.watchers_count %><br>
        <strong>Homepage:</strong> <a href="<%= star.homepage %>"><%= star.homepage %></a><br>
      </p>
    </div>
  <% }); %>
</div>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

<style type="text/css">
  @import url("//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css");
/* line 18, app.sass */
html, body {
  background-color: #333333;
}

/* line 21, app.sass */
a, a:visited, a:hover, a:active {
  color: #b23412;
  text-decoration: none;
}

/* line 25, app.sass */
.container {
  -webkit-box-shadow: 3px 6px 20px 1px black;
  -moz-box-shadow: 3px 6px 20px 1px black;
  box-shadow: 3px 6px 20px 1px black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  width: 600px;
  margin: 2em auto 6em auto;
  background-color: white;
  color: #333333;
}

/* line 34, app.sass */
#githubname {
  text-align: center;
  margin: 1.4em 0 1.1em 0;
  font-size: 36px;
}
/* line 38, app.sass */
#githubname span {
  color: #cccccc;
  padding: 3px;
}
/* line 41, app.sass */
#githubname a, #githubname a:hover, #githubname a:visited, #githubname a:active {
  text-decoration: none;
  color: #333333;
}

/* line 45, app.sass */
#links {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 2em;
}
/* line 49, app.sass */
#links li {
  float: left;
  width: 110px;
  margin: 0;
  padding: 10px 0 8px 0;
  text-align: center;
}
/* line 55, app.sass */
#links li a {
  font-size: 24px;
  line-height: 14px;
  color: #333333;
  font-weight: bold;
}
/* line 60, app.sass */
#links li a:hover {
  text-decoration: none;
}
/* line 62, app.sass */
#links li span {
  font-size: 12px;
  color: #999999;
  font-weight: normal;
}
/* line 66, app.sass */
#links li:hover {
  background-color: #eeeeee;
}

/* line 69, app.sass */
.github-list, .gists, .stars {
  padding: 1em;
}

/* line 73, app.sass */
.gists .lead {
  margin-bottom: 1.5em;
}

/* line 76, app.sass */
.gist {
  border-bottom: 1px solid #eeeeee;
}

/* line 79, app.sass */
.star {
  border-bottom: 1px solid #eeeeee;
}

</style>

<script type="text/javascript">
  // Generated by CoffeeScript 1.4.0
(function() {
  var clearMain, gistTemplate, gistUrl, githubUsername, loadAndSet, logDebug, profileTemplate, profileUrl, route, setGists, setMain, setProfile, setStars, starsTemplate, starsUrl;

  logDebug = false;

  githubUsername = "paulmars";

  profileUrl = "https://api.github.com/users/" + githubUsername;

  profileTemplate = _.template($("#profile-template").text());

  gistUrl = "https://api.github.com/users/" + githubUsername + "/gists";

  gistTemplate = _.template($("#gists-template").text());

  starsUrl = "https://api.github.com/users/" + githubUsername + "/starred";

  starsTemplate = _.template($("#stars-template").text());

  loadAndSet = function(url, callback) {
    return $.ajax({
      url: url,
      method: "GET",
      success: callback,
      failure: function() {
        return console.log("failed to load", url);
      }
    });
  };

  clearMain = function() {
    return $("#main-page").html();
  };

  setMain = function() {
    return $("#main-page").html($("#main-template").html());
  };

  setGists = function() {
    clearMain();
    return loadAndSet(gistUrl, function(data) {
      data = gistTemplate({
        gists: data
      });
      return $("#main-page").html(data);
    });
  };

  setStars = function() {
    clearMain();
    return loadAndSet(starsUrl, function(data) {
      data = starsTemplate({
        stars: data
      });
      return $("#main-page").html(data);
    });
  };

  setProfile = function() {
    return loadAndSet(profileUrl, function(data) {
      console.log("data", data);
      return $("#profile").html(profileTemplate(data));
    });
  };

  route = function() {
    var location;
    location = window.location.hash;
    if (location === "#stars") {
      return setStars();
    } else if (location === "#gists") {
      return setGists();
    } else {
      return setMain();
    }
  };

  setProfile();

  $(window).bind('hashchange', route);

  route();

}).call(this);

</script>